* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.html-home {
    height: 100%;
    
}
.body-home {
    background-image: url("../image/DS2YUZ1VwAET0mW.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.parent-content {
    margin: 0 10px 0 10px;
}
.parent-content th {
    color: #192a56;
}
.btn-header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.btn-footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}